table {
    border-left: 1px solid black;
    border-top: 1px solid black;
    border-spacing: 0
}

td {
    border-right: 1px solid black;
    border-bottom: 1px solid black;
    text-align: center;
    font-size: 60px;
    padding: 0;
    width: 66px;
    height: 66px;
    line-height: 0;
}

td:hover {
    color: rgba(0, 0, 255, 0.25);
    cursor: pointer;
}

#row1>td {
    border-bottom: 3px solid black;
}

#row3>td,
#row6>td,
#row9>td {
    border-top: 3px solid black;
}

.col1,
.col4,
.col7 {
    border-left: 3px solid black;
}

.col9 {
    border-right: 3px solid black;
}

.hash_top {
    border-top: 2px solid black;
}

.hash_right {
    border-right: 2px solid black;
}

.hash_bottom {
    border-bottom: 2px solid black;
}

.hash_left {
    border-left: 2px solid black;
}

.sus {
    font-size: 8px;
    color: blue;
}

.rejected {
    font-size: 8px;
    color: red;
}

/*
#selector {
  display: flex;
  flex-direction: row;
  width: 624px;
}
button {
  flex-grow: 1;
  height: 30px
}
*/