.hidden {
  display: none !important;
}
.tabinator-root {
  border: 2px solid black;
  border-width: 2px 0 2px 2px;
  height: 99%;
  padding: 0;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  box-sizing: border-box;
}
.tabinator-leaves-container {
  background-color: #77777f;
  overflow-x: scroll;
  border: 2px solid black;
  border-width: 0 2px 2px 0;
  min-height: 27px;
  display: flex;
  justify-content: flex-start;
  flex-direction: row;
  scrollbar-width: none;
}
.tabinator-leaves-container::-webkit-scrollbar {
  width: 0;
  height: 0;
}
.tabinator-leaf {
  background-color: #aaaaaf;
  padding: 4px 25px;
  border-right: 2px solid black;
  text-align: center;
  white-space: nowrap;
  cursor: pointer;
}
.tabinator-leaves-container::-webkit-scrollbar {
  display: none;
}
.tabinator-leaf-selected {
  background-color: rgba(255, 255, 255, 0.65) !important;
}
.tabinator-tabs-container {
  padding: 5px;
  overflow: auto;
  border-right: 2px solid black;
  flex-grow: 1;
  box-sizing: border-box;
}
.tabinator-tab {
  display: none;
  position: relative;
}
.tabinator-tab-selected {
  display: block !important;
  min-width: 100%;
  min-height: 100%;
}
