progress {
    -webkit-appearance: none;
    width: 100%;
}

::-webkit-progress-bar {
    background-color: white;
}

::-webkit-progress-value {
    background-color: linear-gradient(right, red, green);
}

::-webkit-progress-inner-element {
    border: 2px solid black;
}

body {
    font-family: sans-serif;
    display: grid;
}

#title {
    font-size: 28px;
    font-weight: bolder;
}

#clock {
    justify-self: center;
    max-width: fit-content;
}

.time {
    font-size: 18px;
    font-weight: bold;
    margin: 2px;
    padding: 0;
}