progress {
    -webkit-appearance: none;
}

::-webkit-progress-bar {
    background-color: white;
}

::-webkit-progress-value {
    background-color: linear-gradient(right, red, green);
}

::-webkit-progress-inner-element {
    border: 2px solid black;
}

body {
    font-family: sans-serif;
    align-items: center;
}

#title {
    font-size: larger;
    font-weight: bolder;
    max-width: fit-content;
    display: inline-block;
    text-align: center;
}

.time {
    font-size: large;
    font-weight: bold;
    margin: 2px;
    padding: 0;
}